/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

#map {
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    border: 2px solid #fff;
}